@import './variables.scss';

.chartContainer {
    margin:10px;
}

.react-stockcharts-tooltip-label {
    color:white !important;
}

h1 {
    color: white;
    text-align: center
}

tspan,text { fill: white }
