@import './variables.scss';
@import './blotter.scss';


body, #root, #tileContainer {
    background-color: $body-background;
    font-size: 12px;
}



#launcher {
    max-width: 450px;
    width: 450px;
    max-height: 80px;
    height: 80px;
}

#launcherDiv > img {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 10px;
}